<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow custom-navbar sticky-top ">
  <div class="container">
    <a class="navbar-brand fw-bold" href="/"><i class="fa-solid fa-stethoscope"></i> MediMitra</a>
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
        <li class="nav-item"><a class="nav-link" href="/signup">Signup</a></li>
      </ul>
    </div>
  </div>
</nav>
