
<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>navbar</title>
  <link rel="stylesheet" href="style.css">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head> -->
<!-- <body> -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow custom-navbar sticky-top ">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="/home"><i class="fa-solid fa-stethoscope fs-3"></i> MediMitra</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <!-- <li class="nav-item"><a class="nav-link" href="/">Dashboard</a></li> -->
        <li class="nav-item"><a class="nav-link" href="/home">Home</a></li> 
        <li class="nav-item"><a class="nav-link" href="/">Dashboard</a></li>
        <li class="nav-item"><a class="nav-link" href="/show">All Patients</a></li>
        <li class="nav-item"><a class="nav-link" href="/new"> Add Patient</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<!-- </body>
</html> -->













