<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow custom-navbar sticky-top ">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="/home"><i class="fa-solid fa-stethoscope fs-3"></i> MediMitra</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <!-- <li class="nav-item"><a class="nav-link" href="/">Dashboard</a></li> -->
        <li class="nav-item"><a class="nav-link" href="/home">Home</a></li> 
        <!-- <li class="nav-item"><a class="nav-link" href="/">Dashboard</a></li> -->

       
        <!-- <li class="nav-item"> <a class="nav-link" href="/messages"> Messages </a></li> -->

        
        <li class="nav-item"><a class="nav-link" href="/signup"><i class="bi bi-person-plus"></i> Signup</a></li>
      </ul>
    </div>
  </div>
</nav>